{% extends 'layout.html.twig' %}

{% block title %}Ma Collection{% endblock %}

{% block body %}
<div class="container">
    <h1>Ma Collection</h1>

    <div class="row">
        {% for movieJson in movieJsons %}
        <div class="col-3">
            <div class="card bg-dark text-white">
                <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ movieJson.poster_path }}" class="card-img-top" alt="{{ movieJson.title }}_poster">
                <div class="card-body">
                    <h5 class="card-title">{{ movieJson.title }}</h5>
                    <a href="{{ path('movie_show', {'movieId': movieJson.id }) }}" class="btn btn-info"><i class="fas fa-film"></i> Voir le film</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
